<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Detail Product</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/detail">Detail</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Edit Data</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form
              action="/detail/edit/<%= detail._id %>?_method=PUT"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="card-body">
                <div class="form-group">
                  <label>Judul</label>
                  <select
                    class="form-control select2"
                    style="width: 100%"
                    name="product"
                    required
                  >
                    <option selected="selected">Pilih game</option>
                    <% product.forEach(product=>{ %>
                      <option value="<%= product._id %>" <%
                        if(product._id.toString()===detail?.product?._id.toString()) { %>
                        selected
                        <% }%>
                          >
                          <%= product.judul %>
                      </option>
                      <% }) %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="item">Item Game</label>
                  <input
                    type="text"
                    name="item"
                    class="form-control"
                    id="item"
                    placeholder="Masukan item game"
                    required
                    value="<%= detail.item %>"
                  />
                </div>
                <div class="form-group">
                  <label for="description">Deskripsi Produk</label>
                  <input
                    id="description"
                    type="hidden"
                    name="description"
                    value="<%- detail.description %>"
                    required
                  />
                  <trix-editor input="description"></trix-editor>
                </div>
                <div class="mb-3">
                  <label for="backdrop">Gambar backdrop</label>
                  <input
                    type="file"
                    name="backdrop"
                    class="file-input form-control"
                    id="backdrop"
                    
                  />
                  <br />
                  <img
                    src="http://localhost:4000/uploads/<%= detail.backdrop %>"
                    width="10%"
                    height="10%"
                    id="perview"
                  />
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        $("#perview").attr("src", e.target.result);
        $("#perview").attr("width", "20%");
        $("#perview").attr("height", "20%");
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#backdrop").change(function () {
    readURL(this);
  });
</script>
